
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#life, #num, button
{
font-size: 18px;
}

body{

    background-size: cover;
    background-position: center;

}

canvas{

    box-shadow: 5px 10px 15px #EB5160;
    border-radius: 10px;
    margin-top: 30px;

}

